---
import SectionTitle from './SectionTitle.astro';
import Button from '../Button.astro';
---

<div class="cta u-text-c">
  <SectionTitle title="Let’s get started" subtitle="We’ll to make your next event your most successful yet!">
    <Button href="/contact/">Contact us</Button>
  </SectionTitle>
</div>