---
import Egg from "../Egg.astro";

const {
  file = "missing-file-prop",
  title = "missing `title` prop",
  subtitle,
  paragraph = "missing `text` prop"
 } = Astro.props;
---

<li class="egg-item u-mh-auto">
  <Egg file={file} />
  <span class="egg-item-caption">
    <h3 class="egg-item-title u-heading u-mb-xs">
      {title}
    </h3>
    {subtitle &&
      <p class="egg-item-subtitle u-subhead u-font-xs u-mb-lg">
        {subtitle}
      </p>
    }
    <p class="egg-item-paragraph u-font-xs">
      {paragraph}
    </p>
  </span>
</li>

<style is:global lang="scss">
	@import '../../styles/global';

  .egg-item {
    display: flex;
    align-items: center;
    width: 50rem;
    max-width: 100%;

    .egg {
      flex: 1 0.75 16rem;
      margin-right: $sp-xl;
      margin-left: -4rem;

      @media (min-width: 666px) {
        margin-left: 0;
        margin-right: $sp-xl * 1.5;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: $sp-xxl;
    }
  }
</style>
