---
import SectionTitle from './SectionTitle.astro';
import RetinaImg from '../RetinaImg.astro';
---

<section class="logo-section middle-section">
  <SectionTitle title="Our clients" subtitle="We’re trusted with jobs of all sizes by companies of all sizes" />

  <RetinaImg
    className="logo-section-img u-mh-auto"
    file="projects/logos"
    alt="Clients include: Busch Gardens, SeaWorld, Philadelphia Zoo, Detroit Zoo, Fiargrounds St. Pete, Full Stop Productions, Eckerd College, St. Pete Opera, and Carrollwood Cultural Center."
  />
</section>

<style is:global lang="scss">
	@import '../../styles/global';

  .logo-section-img {
    max-width: 80%;
  }
</style>