---
import RetinaImg from "../RetinaImg.astro";
import NavLinks from "./NavLinks.astro";
---

<nav class="nav">
	<a class="nav-logo" href="/">
		<RetinaImg
			className="nav-logo-img"
			file="logo-horizontal"
			alt="Envision Realm Studios (home)"
		/>
	</a>
	<NavLinks />
</nav>

<style is:global lang="scss">
	@import '../../styles/global';

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.nav-logo {
		margin-right: $sp-lg;
	}
</style>