---
import Layout from '../layouts/Layout.astro';
import CTA from '../components/layout/CTA.astro';
import SectionTitle from '../components/layout/SectionTitle.astro';
import EggItem from '../components/layout/EggItem.astro';
import ServicesGrid from '../components/layout/ServicesGrid.astro';

const heroProps = {
	headline: "Small team, big events",
	subhead: "From navigating fire codes to understanding crowd patterns, we’ve been through it all. We guarantee a smooth experience when you work with us.",
	showButton: true
}
---

<Layout slug="about" title="About" heroProps={heroProps}>
	<section class="services-section">
		<SectionTitle title="Our Services" subtitle="From planning to installation, and everything in between,  we've done it all. Whatever you need, we’re here to help." />
		<ServicesGrid />
	</section>
	<CTA />
</Layout>

<style is:global lang="scss">
	@import '../styles/global';

	.section-title + .services-grid {
		top: -$sp-xl;
	}

	.people-section .egg-item {
		width: 42rem;
	}
</style>
