---
import Layout from '../layouts/Layout.astro';
import CTA from '../components/layout/CTA.astro';
import SectionTitle from '../components/layout/SectionTitle.astro';
import EggItem from '../components/layout/EggItem.astro';
import ServicesGrid from '../components/layout/ServicesGrid.astro';

const heroProps = {
	headline: "Small team, big events",
	subhead: "From navigating fire codes to understanding crowd patterns, we’ve been through it all. We guarantee a smooth experience when you work with us.",
	showButton: true
}
---

<Layout slug="about" title="About" heroProps={heroProps}>
	<section class="services-section">
		<SectionTitle title="Our Services" subtitle="From planning to installation, and everything in between,  we've done it all. Whatever you need, we’re here to help." />
		<ServicesGrid />
	</section>

	<section class="people-section middle-section">
		<SectionTitle title="Our people" subtitle="Our leadership has 30 years combined experience in bringing consumer events to life. In Florida and beyond, we get it done."/>
		<ul class="egg-list u-pb-xl">
			<EggItem
				title="Daniel Gentry"
				file="people/daniel-gentry"
				subtitle="Tampa, FL"
			>
				<p>With a decade of experience in themed events, Daniel brings extensive expertise to Envision Realm Studios. As a seasoned audio engineer, system designer, and scenic carpenter, Daniel excels in crafting immersive environments that captivate and engage.

				<p>From orchestrating cutting-edge audio designs to constructing elaborate set pieces, Daniel combines technical skill with artistic vision to create spaces that truly resonate. Passionate about blending innovation with craftsmanship, Daniel is dedicated to bringing extraordinary concepts to life.</p>
			</EggItem>
			<EggItem
				title="Jesse Irish"
				file="people/jesse-irish"
				subtitle="St. Petersburg, FL"
			>
				<p>With over a decade of experience in the entertainment industry, Jesse brings a wealth of knowledge and expertise to every realm.</p>
				<p>Specializing in technical entertainment project management, Jesse prioritizes safety, budget compliance, and efficient time management to ensure seamless productions from concept to execution.</p>
				<p>Whether it's coordinating complex stage setups, managing crews, or overseeing intricate technical details, Jesse thrives in fast-paced environments where precision and creativity intersect.</p>
			</EggItem>
			<EggItem
				title="Bryan Martina"
				file="people/bryan-martina"
				subtitle="Tampa, FL"
			>
				<p>Bryan sleepy</p>
			</EggItem>
		</ul>
	</section>

	<CTA />
</Layout>

<style is:global lang="scss">
	@import '../styles/global';

	.section-title + .services-grid {
		top: -$sp-xl;
	}

	.people-section .egg-item {
		width: 42rem;
	}
</style>
