---
import Layout from '../layouts/Layout.astro';
import SectionTitle from '../components/layout/SectionTitle.astro';
import Egg from '../components/Egg.astro';

const title = "Home";
---

<Layout title={title}>
	<h1>{title}</h1>
	<SectionTitle title="Our work" subtitle="A selection of examples that we can share publically"/>

	<Egg file="people/daniel-gentry" />
</Layout>

<!-- <style is:global lang="scss">
	@import '../styles/global';
</style> -->
