---
import Layout from '../layouts/Layout.astro';
import SectionTitle from '../components/layout/SectionTitle.astro';
import EggItem from '../components/layout/EggItem.astro';

const title = "Home";
---

<Layout title={title}>
	<h1>{title}</h1>
	<SectionTitle title="Our work" subtitle="A selection of examples that we can share publically"/>

	<ul>
		<EggItem file="people/daniel-gentry" title="Daniel Gentry" subtitle="cofounder" paragraph="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." />
	</ul>
</Layout>

<!-- <style is:global lang="scss">
	@import '../styles/global';
</style> -->
