---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="test title">
	<a href="/about">About</a>

	<h1>Home</h1>
</Layout>

<!-- <style is:global lang="scss">
	@import '../styles/global';
</style> -->
