---
import RetinaImg from "./RetinaImg.astro";

const { file = "missing-file-prop" } = Astro.props;
---

<div class="egg">
  <RetinaImg
    className="egg-img"
    extension="jpg"
    file={file}
  />
</div>

<style is:global lang="scss">
	@import '../styles/global';

  .egg {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    border: 0.15rem solid $black;
    box-shadow: 0 0 2.5rem rgba($gold, 0.75);
    height: auto;
  }
  .egg-img {
    transform: scale(1.0375);
    width: 100%;
  }
</style>
