---
import RetinaImg from "./RetinaImg.astro";

const { file = "missing-file-prop" } = Astro.props;
---

<div class="egg">
  <img class="egg-img" src={`/${file}.jpg`} alt="" loading="lazy">
</div>

<style is:global lang="scss">
	@import '../styles/global';

  .egg {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    border: 0.15rem solid $black;
    box-shadow: 0 0 2.5rem rgba($gold, 0.75);
    height: auto;
    width: 7rem;
    height: 11rem;
    transition: 0.4s box-shadow ease-out;
  }
  .egg-img {
    @include absolute-expand;
    object-fit: cover;
    transition: 0.5s transform ease-out;
  }
</style>
