---
import { ViewTransitions } from 'astro:transitions';

import Nav from "../components/layout/Nav.astro";
import Footer from "../components/layout/Footer.astro";

const {
	title,
	wrapperClass = null
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title && title !== "Home" && `${title} | `}
			Envision Realm Studios</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Work+Sans&display=swap" rel="stylesheet">
		<ViewTransitions /> <!-- TODO: test -->
	</head>

	<body>
		<Nav />

		<main class="main" id="main">
			<div class="content-wrapper" class={wrapperClass ? `${wrapperClass}-content-wrapper` : ''}>
				<slot />
			</div>
		</main>
	</body>

	<Footer />
</html>

<!-- <style is:global lang="scss">
	@import '../styles/main';

	.content-wrapper {
	}
</style> -->
