---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	wrapperClass: string;
}

const {
	title,
	wrapperClass = null
} = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title && title !== "Home" && `${title} | `}
			Envision Realm Studios</title>
		<ViewTransitions /> <!-- TODO: test -->
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/careers">Careers</a>
			<a href="/contact">Contact us</a>
		</nav>

		<main class="main" id="main">
			<div class="content-wrapper" class={wrapperClass ? `${wrapperClass}-content-wrapper` : ''}>
				<div class="section primary-content">
					<slot />
				</div>

				<div class="section secondary-content">
					<slot name="sidebar" />
				</div>

				<div class="section cta-content">
					<slot name="cta" />
				</div>
			</div>
		</main>
	</body>
</html>

<!-- <style is:global lang="scss">
	@import '../styles/main';

	.content-wrapper {
	}
</style> -->
